image: node:latest
stages:
  - build
  - deploy
cache:
  paths:
  - node_modules/
build:
  stage: build
  script:
  - npm i
  - npm run build
  artifacts:
    paths:
    - node_modules/
    - build/
deploy:
  stage: deploy
  script:
  - mkdir ~/.ssh
  - cd ~/.ssh && touch server
  - echo $SERVER_KEY >> server
  - scp -r -i ~/.ssh/server build/* $SERVER_USER@195.201.122.211:/var/www/hazratgs.com