@import "../../public/css/variables.pcss";

.footer {
    @apply --width;
    padding-top: 40px;

    .top {
        background-color: #fff;

        a {
            color: #005ea5;
            font-family: 'gerbera';
            font-size: 14px;
            margin-right: 15px;
            font-weight: 300;
        }
    }
    .bottom {
        padding: 20px 0 40px;
        background-color: #fff;
        font-family: 'gerbera';
        font-weight: 300;
        font-size: 14px;
    }
}
 